[package]
name = "optik-py"
authors.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
name = "optik"
crate-type = ["cdylib"]

[build-dependencies]
pyo3-build-config = "0.20"

[dependencies]
nalgebra = "0.32"
optik = { path = "../optik" }
pyo3 = { version = "0.20", features = ["extension-module", "abi3-py38"] }
